<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"type="text/css"href="/static/aboutstyle.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <nav>
        <div class="menu">
          <p>Blood Bank management</p>
        </div>
          <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/avail">Blood available</a></li>
            <li><a href="/donation">blood donation</a></li>
            <li><a href="#">about us</a></li>
            
          </ul> 
       </nav> 
    <body background="/static/blood.jpg"style="background-repeat:no-repeat;background-size:100%100%">
      
      <pre>
        1
        2
        3
        4
      </pre>  <center><h1>
        BE THE REASON FOR SOMEONE'S SMILE TODAY, DONATE BLOOD!!!
       </h1></center>
       <p>One blood donation can save up to three lives, according to DeSimone. People usually donate because it feels good to help others, and altruism and volunteering have been linked to positive health outcomes, including a lower risk for depression and greater longevity.

        “Giving blood is a way to engage in the immediate community and help people around you,” Vossoughi adds. “People who do these types of things and engage in their community in this way tend to have better health and longer lives.”
        
       
        “Creating moments of kindness during a time of need does wonders for your mental health and feeling of well-being,” DeSimone says.</p>
        <table class="card">
            <tr>
              <td>
          <div class="box">
            
            <br>
            <h2>
              BRANCH: MANGAON
            </h2>
            <h4>
              ADDRESS: NEAR SBI, MUMBAI-GOA HIGHWAY, MANGAON, DIST. RAIGAD
              <br>
              CONTACT: 94XXXXXX11
            </h4>
          </div>
          </td>
          
            <td>
                <div class="box">
                  
                  <br>
                  <h2>
                    BRANCH: MAHAD
                  </h2>
                  <h4>
                    ADDRESS: NEAR Bus Stand MAHAD , DIST. RAIGAD
                    <br>
                    CONTACT: 94XXXXXX12
                  </h4>
                </div>
                </td>
                <td>
                    <div class="box">
                      
                      <br>
                      <h2>
                        BRANCH: ROHA
                      </h2>
                      <h4>
                        ADDRESS: Raikar Park, Roha DIST. RAIGAD
                        <br>
                        CONTACT: 94XXXXXX13
                      </h4>
                    </div>
                  </td>
        </table>
        <table class="card1">
            <tr>
              <td>
          <div class="box">
            
            <br>
            <h2>
              BRANCH: PEN
            </h2>
            <h4>
              ADDRESS: Near Alishan Super Market, PEN, DIST. RAIGAD
              <br>
              CONTACT: 94XXXXXX14
            </h4>
          </div>
          </td>
          <td>
            <div class="box">
              
              <br>
              <h2>
                BRANCH: ALIBAG
              </h2>
              <h4>
                ADDRESS: NEAR ST Stand, ALIBAG,  DIST. RAIGAD 
                <br>
                CONTACT: 94XXXXXX15
              </h4>
            </div>
          </td>

          </tr>
          </table>
          

    
</body>
</html>