<!DOCTYPE html>
<html>
    <head><link rel="stylesheet"type="text/css"href="/static/homestyle.css"/>
        <meta charset="utf-8">
        <meta name="viewport"content="width-device-width,intiak-scale=1.0">
        <meta http-equiv="x-UA-compatible" content="IE-edge">
        

    </head>
        
<body>
    <nav>
      <div class="menu">
        <p>Blood Bank management</p>
      </div>
        <ul>
          <li><a href="/index">Home</a></li>
          <li><a href="/avail">Blood available</a></li>
          <li><a href="#">blood donation</a></li>
          <li><a href="/about">about us</a></li>
          
          
        </ul> 
     </nav> 
     
    <div class="main">
        <pre>1
            1   
        </pre>
        <div class="header">
          <img src="/static/bd.jpg"/>
        </div>
        <h1><center>Blood Donation Camps organized by us</center></h1>
        <table border="3" align="center" class="camp">
            <thead>
            
            <td>
                SR.NO.
               </td>
                <td>
                   PLACE
                </td>
                 
             
                 <td>
                DATE
                 </td>
                 
                 <td>
                  TIME
                </td>
            </thead>
               <tr>
               <td>
                1
               </td>
                <td>
                    Kunbi Hall, Mangaon
                </td>
                 
             
                 <td>
                15-12-2023
                 </td>
                 
                 <td>
                  10:00am-5:00pm
                </td>
               </tr>
               <tr>
               <td>
                2
               </td>
                <td>
                   Dr.Babasaheb Ambedkar Sabhagruha, Mahad
                </td>
                 
             
                 <td>
                17-12-2023
                 </td>
                 
                 <td>
                    10:00am-5:00pm
                </td>
               </tr>
               <tr>
               <td>
                3
               </td>
                <td>
                   Town Hall, Roha
                </td>
                 
             
                 <td>
                19-12-2023
                 </td>
                 
                 <td>
                    10:00am-5:00pm
                </td>
               </tr>
               <tr>
               <td>
                4
               </td>
                <td>
                Kalan Samaj Hall, Pen
                </td>
                 
             
                 <td>
                21-12-2023
                 </td>
                 
                 <td>
                    10:00am-5:00pm
                </td>
               </tr>
               <tr>
               <td>
                5
               </td>
                <td>
                R.C.F Community Hall, Alibag
                </td>
                 
             
                 <td>
                23-12-2023
                 </td>
                 
                 <td>
                    10:00am-5:00pm
                </td>
               </tr>
        </table>
        <h3 style="font-size: 30px; color:red; text-shadow:2px 2px #b4a4a4"><center>NOTE: Our Blood Bank is available 24/7.</center></h3>
        <center><img src="/static/compatible-blood-donors.png"/></center>
        <br>
        <a style="font-size: larger;" href="/guidelines"><center>Check for blood donation guidelines</center></a>