<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"type="text/css"href="/static/homestyle.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body>
        <nav>
          <div class="menu">
            <p>Blood Bank management</p>
          </div>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="/avail">Blood available</a></li>
              <li><a href="/donation">blood donation</a></li>
              <li><a href="/about">about us</a></li>
              
            </ul> 
         </nav> 
         
        <div class="main">
            <div class="header">
              <img src="/static/homeback.jpg"/>
              
                
              
            </div>
            <div class="title">
              <h1>We manage a bag of blood which can be a lifeline for someone.</h1>
              <ul>
                <h2><i>You have a need of blood</i></h2>
                <li><a href="/saveRegistrationForm"><b>Register here....</b></a></li>
              </ul>
            </div>
            <marquee style="background: linear-gradient(to right, #dee12b, #addd7db0);font-size:larger; margin-top: 1px;" direction="left" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="10">
              <div class="marqu">“Our Blood Bank is available 24/7”</div>
            </marquee>
            
           
       
            
        </div>
    </body>
    </html>
</body>
</html>